/*
Content
    Global
    Icons
    Buttons
    Hover
    Header
        Navigation
        Dropdown menu
        Mobile menu
    Main
        Client icons
    Footer
    Media query
    Important
*/

/* Global */
:root {
    --white: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
}

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 500;
    color: var(--gray);
    background-color: var(--white);
}

a {
    text-decoration: none;
    color: var(--gray);
}

.align-center {
    display: flex;
    align-items: center;
}

:not(:hover) .hidden {
    display: none !important;
}

/* Icons */
.logo {
    background-image: url('../images/logo.svg');
    width: 84px;
    height: 27px;
}

.arrow {
    display: inline-block;
    width: 10px;
    height: 6px;
    margin-left: .8rem;
    background-image: url('../images/icon-arrow-down.svg');
}

.js-arrow-up {
    background-image: url('../images/icon-arrow-up.svg') !important;
}

.features-icon {
    display: inline-block;
    height: 1.4rem;
    width: 1.6rem;
    margin-right: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.todo {
    background-image: url('../images/icon-todo.svg');
}

.calendar {
    background-image: url('../images/icon-calendar.svg');
}

.reminders {
    background-image: url('../images/icon-reminders.svg');
}

.planning {
    background-image: url('../images/icon-planning.svg');
}

/* Buttons */
button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    width: max-content;
    color: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menu-btn {
    width: 32px;
    height: 18px;
    background-image: url('../images/icon-menu.svg');
}
.close-btn {
    width: 26px;
    height: 26px;
    background-image: url('../images/icon-close-menu.svg');
}

.mobile-menu .close-btn {
    display: block;
}

.register-btn {
    padding: 1.2rem 2rem 1.2rem 2.2rem;
    border: 2px solid var(--gray);
    border-radius: 1.1rem;
}

.learn-more-btn {
    padding: 1.9rem 2.8rem 2.1rem 3.2rem;
    border-radius: 1.3rem;
    border: 1px solid var(--black);
    color: var(--white);
    background-color: var(--black);
}

/* Hover */
li:hover,
li:active,
nav button:hover,
nav button:active,
a:hover,
a:active {
    color: var(--black);
}

.dropdown:hover .arrow {
    background-image: url('../images/icon-arrow-up.svg');
}

.learn-more-btn:hover, .learn-more-btn:active {
    background-color: var(--white);
    color: var(--black);
}

/* Header */
/* Navigation */
nav, .nav-list {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

nav {
    position: relative; /* ??? */
    gap: 4.375vw;
    padding: 2.1rem 4rem;
}

li ul {
    color: var(--gray);
}

.nav-list li {
    position: relative;
    list-style: none;
    font-size: 1.4rem;
}

.nav-list--long {
    flex-grow: 1;
    gap: calc(100vw / 36);
}

.login {
    margin-left: auto;
}

/* Dropdown menu */
.dropdown {
    padding: 1.2rem 0;
}

.mobile-menu .dropdown:hover .dropdown-nav-list {
    display: flex;
}

.dropdown-nav-list {
    position: absolute;
    top: 100%;
    padding: 2.5rem;
    border-radius: .9rem;
    background-color: white;
    box-shadow: 0 0 3.6rem 0 hsl(0, 0%, 41%, .2), 0 1.8rem 3.6rem 0 hsl(0, 0%, 41%, .1);
}

.dropdown-nav-list__left {
    right: 0;
}

.dropdown-nav-list__right {
    left: 0;
}

/* Mobile menu */
.mobile-menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 2.2rem;
    background-color: var(--white);
    transition: 0.3s;
}

.mobile-menu li:not(.login, .register) {
    font-size: 1.6rem;
    line-height: 1;
}

.mobile-menu > li {
    margin-bottom: .9rem;
}

.close {
    display: none;
}

.mobile-menu .close {
    display: block;
    align-self: flex-end;
    margin-bottom: 1.9rem;
}

.mobile-menu .login {
    align-self: center;
    margin-left: 0;
}

.mobile-menu .register {
    align-self: stretch;
}

.mobile-menu .register-btn {
    display: block;
    width: 100%;
    text-align: center;
}

.mobile-menu .dropdown {
    padding: 0;
}

.mobile-menu :hover .hidden {
    display: none !important;
}

.mobile-menu .dropdown:hover .arrow {
    background-image: url('../images/icon-arrow-down.svg');
}

.mobile-menu .dropdown-nav-list {
    position: static;
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
    box-shadow: none;
    padding: 3.2rem 0 .8rem 2.2rem;
}

/* Main */
main {
    display: grid;
    grid-template-columns: 1fr calc(100vw / 3);
    gap: 10.625vw;
    margin: 4.5rem 13rem 0;
    padding-left: 3.6rem;
}

main h1 {
    padding-top: 10.7rem;
    font-size: 7.8rem;
    font-weight: 700;
    line-height: 1;
    color: var(--black);
}

main p {
    max-width: 42.5rem;
}

.banner {
    background-image: url('../images/image-hero-desktop.png');
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5.6rem;
}

/* Client icons */
.clients {
    display: flex;
    gap: 4rem;
    padding-top: 3.5rem;
}

.clients > div {
    height: 3.7rem;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.clients__databiz {
    background-image: url('..//images/client-databiz.svg');
}

.clients__audiophile {
    background-image: url('..//images/client-audiophile.svg');
}

.clients__meet {
    background-image: url('..//images/client-meet.svg');
}

.clients__maker {
    background-image: url('..//images/client-maker.svg');
}

/* Footer */
footer {
    position: absolute;
    left: 0;
    top: 50%;
    transform: rotate(-90deg) translateX(-50%);
    transform-origin: top left;
    padding: 0 1em;
    white-space: nowrap;
    border: 2px solid var(--gray);
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: hsl(0, 0%, 98%, .9);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    text-decoration-line: overline;
}

/* Media query */
@media (max-width: 768px) {
    nav {
        padding: 2.4rem 1.6rem;
    }

    .nav-list--short {
        flex-grow: 1;
    }
    
    .nav-list--short li:last-child {
        margin-left: auto;
    }

    .dropdown-nav-list {
        background-color: transparent;
    }
    
    .banner {
        background-image: url('../images/image-hero-mobile.png');
        background-position: top;
        margin-top: 8rem;
        height: 28.2rem;
    }

    main {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    main .container {
        align-items: center;
        gap: 3rem;
        padding: 0 2rem;
    }

    main h1 {
        padding-top: 5.1rem;
        font-size: 3.5rem;
    }

    main p {
        max-width: 100%;
        font-size: 1.6rem;
    }

    .clients {
        width: 100%;
        padding-top: 1.6rem;
    }
}